
#faq-hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#faq-hero-msg h1,
#faq-hero-msg h4 {
    text-align: center;
}

#faq-hero-msg section {
    grid-column: 2/3;
    grid-row: 1/2;
}

#faq-hero-msg h4 {
    color: white;
}
            
#faq-hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#faq-hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 100px;
}

#faq-hero-img {
    width: 100%;
}

#faq-hero-msg h4 {
    color: white;
}


.faq-home-title {
    background-color: #104266;
    color: #FCE172;
    font-family: 'RocknRoll One', 'Roboto', 'Georgia', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.faq-home-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    width: 1600px;
    
    
}

.faq-home-grid p {
    font-size: 20px;
    align-items: center;

}

.faq {
    align-items: center;
    grid-column: 2/5;

}