@import url('https://fonts.googleapis.com/css2?family=Roboto&family=RocknRoll+One&display=swap');

#content,
div {
    max-width: 1600px;
}


#content {
    margin: 0 auto;
}

h4 {
    color: #104266;
}

h2 {
    margin: 0;
}

.msg {
    background-color: #FCE172;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #104266;
    font-family: 'RocknRoll One', sans-serif;
    /* Backup Font */
    font-family: 'Roboto', sans-serif;
    font-family: Georgia, serif;
}

.msg p {
    background-color: #104266;
    color: #FFFFFF;
    font-size: .8em;
    padding-bottom: 15px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 100px;
}

#hero-img {
    width: 100%;
}

#hero-msg h4 {
    color: white;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

/* Top of page */

header {
    background-color: #FCE172;
    font-family: 'RocknRoll One', 'Roboto', 'Georgia', sans-serif;
    display: grid;
    grid-template-columns: 150px auto;

}

nav a {
    text-align: center;
    color: #104266;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #104266;
    color: #FFFFFF;

}

.home-title {
    background-color: #104266;
    color: #FCE172;
    font-family: 'RocknRoll One', 'Roboto', 'Georgia', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}





.book,
.join {
    background-color: #FCE172;
    color: #104266;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #104266;
    color: #FFFFFF;

}

/* Middle page */

.home-grid {
    display: grid;
    grid-template-columns: 10fr;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #fce172;
}

body {
    background-color: #FFFFFF;
    font-family: 'RocknRoll One', 'Roboto', 'Georgia', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}


/* Bottom */

.bottom-box {
    text-align: center;
}

footer {
    background-color: #104266;
    color: #FCE172;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #FCE172;
    text-decoration: none;

}

footer,
.social,
img {
    padding-top: 15px
}

footer p {
    font-size: 1.2em;
}

footer a:hover {
    color: #FFFFFF;
}

footer p a:hover {
    text-decoration: underline;
}